/* General Styling */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #ffffff, #1e1e1e);
  color: rgba(153, 138, 138, 0.9);
  min-height: 100vh;
  position: relative;
}

/* Toggle Button */
.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #ffa38d;
  color: #333;
  border: none;
  cursor: pointer;
  z-index: 10; /* Always on top */
}

.toggle-btn:hover {
  background-color: #ff8772;
}

/* Foreground and Background */
.foreground-content {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.background-content {
  z-index: 1;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent interaction with background content */
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #ffa38d;
  transform: scale(1.1);
}

/* Hero Section */
.hero-section {
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-section p {
  font-size: 1.5rem;
}

/* Skills Section */
.skills-section {
  padding: 6.9rem 5rem;
  bottom: 5vh;
  background: url('./icons/programmer.svg') no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
}

.skills-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.skills-content {
  position: relative;
  z-index: 2;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-list span {
  margin: 10px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.skills-list span:hover {
  color: #000;
  transform: scale(1.2);
  cursor: pointer;
}

/* Image Section */
.images-section {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-image {
  height: 185px;
  margin: 0 20px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}



/* Contact Section Overlay */
.contact-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 0;
}

.contact-container.in-front {
  z-index: 5;
  pointer-events: all;
}

/* Contact Section */
.contact-section {
  width: 100%;
  padding: .5rem 1rem;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4); /* Slight background for better visibility */
  text-align: center;
  position: relative;
}

.contact-section h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-section input,
.contact-section textarea {
  width: 60%;
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact-section input:focus,
.contact-section textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-color: #ffa38d;
}

.contact-section button {
  padding: 0.7rem 8rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-section button:hover {
  background-color: #333;
  color: #ffa38d;
  transform: scale(1.05);
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section form {
  animation: fadeIn 1.2s ease-out;
}



.project-details div {
  width: 50%; /* Ensure the canvas fits within the box */
  height: 600px; /* Set a height for the canvas */
}

.projects-section {
  background: linear-gradient(to bottom, #1a1a1a, #333); /* Dark to lighter gradient */
  padding: 10px;
  color: white;
  text-align: center;
}

.project-box {
  background-color: rgba(255, 255, 255, 0.185); /* Slightly transparent white background */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 10px; /* Rounded corners */
  margin: 25px;
  padding: 25px;
  transition: transform 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Pointer cursor on hover */
}

.project-box:hover {
  transform: scale(1.02); /* Slightly enlarge the box on hover */
}



.jack-in-the-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Set to 100% to occupy the full width of the container */
  height: 100%; /* Set to 100% to occupy the full height of the container */
  position: relative; /* Make it a positioned element */
}


